<form action="/authors" method="GET">
    <input type="text" name="author" value="<%=author !=null?author:''%>"/>
    <button type="submit">Search</button>
</form>

<%if(typeof(authors) !== 'undefined'){
    authors.forEach(author => {%>
        <%=author.name%>
    <%});
}%>